#meet{
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 70px;
    color: white;
    padding: 200px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://github.com/caseyhunt/WEB-FA_24/blob/main/css_midterm/images/about/Talkback-945x530-1.jpg?raw=true);
}

#about-header{
    font-size: 30px;
    background-color:#ffb300;
}







