nav {
    background-color: #00ffff;
    padding: .5em;
    position: sticky;
    top: 0;

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

nav a {
    color: black;
    text-decoration: none;
    padding: .5em 1em;
    
}
